body{
	margin-top: 0px;
	margin-bottom: 0px;
	overflow-y: scroll;
	background: #f2f2f2;
}

.container {
	margin: auto;
	min-width: 500px;
	max-width: 50em;
	background: white;
	min-height: 100%;
	padding: 0.1px 1in;
	text-align: center;
}

.bordered {
	border: 1px dashed black;
	display: inline-block;
	margin: 10px auto;
	width: calc(100% - 2px);
	text-align: center;
	cursor: default;
}

.bordered:nth-child(2) {
	margin-top: 0px;
}

.bordered > p {
	width: 50%;
	margin: 10px auto;
}

.unbordered {
	display: inline-block;
	margin: 10px auto;
	width: 100%;
	text-align: center;
	cursor: default;
}

.unbordered > input {
	width: 100%;
	margin: 0px 10px;
	width: 8em;
}

.filter_div {
	border: 1px dashed black;
	display: flex;
}

.filter_div > div {
	padding: 10px;
}

#add_filter {
	font-weight: bold;
	background-color: #e2e2e2;
	width: 21px;
	cursor: pointer;
}

#add_filter:hover {
	cursor: pointer;
	background: #d2d2d2;
}

#filter_bar {
	width: calc(100% - 21px);
	font-style: italic;
	text-align: left;
	padding: 12px 10px 8px;
}

.ctrl_button {
	background-color: rgb(247,120,120);
	border-color: red;
}

.ctrl_button:hover, .ctrl_button:focus {
	background-color: rgb(242,115,115);
}

.ctrl_button:active {
	background-color: rgb(250,123,123);
}

table {
	border-collapse: collapse;
	font-size: smaller;
	table-layout: fixed;
	position: relative;
	width: 100%;
	margin: 10px auto;
}

th {
	text-align: left;
	width: 4em;
	position: sticky;
	top: 0;
	background: #e2e2e2;
}

th:hover {
	cursor: pointer;
	background: #d2d2d2;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

th:nth-child(7), td:nth-child(7) {
	width: 4.5em;
}

th:nth-child(8), td:nth-child(8) {
	width: auto;
}